
body, div, td, span {
  font-family: sans-serif;
}

a {
  color: blue;
}

html {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  height: 100%;
  background-color: #bdf;
  margin: 0;
  padding: 2em;
  text-align: center;
  border-width: 0 4em 0 4em;
  border-color: #036;
  border-style: solid;
}

h1 {
  text-align: center;
  font-size: 1.6em;
  margin: .3em;
}

h2 {
  text-align: center;
  font-size: 1.2em;
  margin: .1em;
}

.box {
  border-width: .2em;
  border-color: #369 #036 #369 #036;
  border-style: solid;
  background-color: #9cf;
  padding: .8em;
}

input {
  width: 240px;
}

textarea {
  width: 240px;
  height: 80px;
  text-align: left;
}

input.btn {
  height: 3em;
}

