
body, div, td, span, h1, h2, h3, h4, h5, h6 {
  font-family: sans-serif;
}

a {
  color: blue;
}

html {
  margin: 0;
  padding: 0;
}

body {
  background-color: #036;
  margin: 0;
  padding: 2em;
  text-align: center;
}

form {
  margin: 0;
  padding: 0;
}

h1 {
  text-align: center;
  font-size: 1.6em;
  margin: .3em;
  color: #def;
}

h2 {
  text-align: center;
  font-size: 1.2em;
  margin: .1em;
}

.box {
  border-width: .2em;
  border-color: #369 #036 #369 #036;
  border-style: solid;
  background-color: #ace;
  padding: .8em;
}

.error {
  margin-left: auto;
  margin-right: auto;
  width: 30em;
  border-width: .2em;
  border-color: #833;
  border-style: solid;
  background-color: #fda;
  padding: .8em;
}

input {
  width: 240px;
}

textarea {
  width: 240px;
  height: 80px;
  text-align: left;
}

input.btn {
  height: 3em;
}

